@import "setting/index"
@import "mixins/index"
@import "header/header"
@import "fonts"
body
  font-size: 16px
  line-height: 1.5
  min-width: 320px
  overflow-x: hidden
  font-family: Arimo, sans-serif
  font-weight: 400
  font-style: normal
@import "content"
@import "posts/index"
@import "posts/article"
@import "paginator"
@import "rating"
